name: Update
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 10 * * sat' # every Saturday at 10am

permissions:
  contents: write
  pull-requests: write

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Update flake.lock
        id: update
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-labels: dependencies
          pr-assignees: MattSturgeon
      - name: Print PR number
        run: echo "Pull request \#${{ steps.update.outputs.pull-request-number }}."
